body {
    margin: 0;
    background: #EDF2C5;
    width: 1025px;
    /*版面寬度1260px*/
    margin: auto;
    /*版面居中對齊*/
    padding: 0px 160px 0;
    /*上下，左右 內距*/
}

#header {
    background: #7f6000;
    margin-top: -20px;
    margin-bottom: 40px;
}

#h_logo {
    width: 280px;
    font-family: Arial Black;
    /*字體*/
    margin: auto;
}

#h_logo h1 {
    float: left;
    font-size: 44px;
    height: 30px;
    /*大小*/
}

#h_logo img {
    float: right;
    height: 44px;
    margin-top: 35px;
}

#h_logo::after {
    clear: both;
    /*左邊跟右邊漂浮清掉*/
    content: "";
    /*讓中間全部變空白*/
    display: block;
    /*設成一整條*/
}



#lab1 img {
    height: 23px;
    margin-top: 20px;
}

#lab1 li {
    display: inline-block;
    padding: 20px 20px;
    margin: 0;
    color: #ffff00;
}

.search {
    display: inline-block;
    border: 1px #000000 solid;
    /*設定大小，顏色，外框*/
    border-radius: 3px;
    /*圓角*/
    font-family: Arial BoldMT;
    color: #9fc5f8;
    text-decoration: none;
    /*清除底線*/
    padding: 0px 70px 5px 2px;
}
@import "compass/css3";
.hamburger-menu{
  background: none;
  border: none;
  display: inline-block;
  .icon-bar{
    background-color: #FFFFFF;
    display: block;
    height: 10px;
    margin: 0 auto 10px;
    width: 30px;
  }
}
.hamburger-menu {
  display: none;
}
.hamburger-menu .icon-bar {
  display: none;
}
#content {
    background-image: url('image/house.jpg');
    height: 600px;
    margin-bottom: 50px;
}

#lab_btn {
    float: left;
    font-size: 26px;
    height: 30px;
    color: #f1c232;
    padding: 13px 23px;
}

#btn>a {
    display: inline-block;
    border: 1px #778A50 solid;
    /*設定大小，顏色，外框*/
    border-radius: 3px;
    /*圓角*/
    font-family: Arial BoldMT;
    color: #9fc5f8;
    text-decoration: none;
    /*清除底線*/
    margin: 5px;
    font-size: 14px;
    padding: 4px 10px;
    text-align: center;
}

#footer {
    background: #783f04;
    height: 120px;
    font-family: Arial;
    margin: auto;
}

#d_logo {
    width: 300px;
    font-family: Arial Black;
}

#d_logo h1 {
    float: left;
    font-size: 44px;
    height: 30px;
}

#d_logo img {
    float: right;
    height: 44px;
    margin-top: 35px;
}

#d_logo::after {
    clear: both;
    content: "";
    display: block;
}

#Hyperlinks_icon {
    width: 700px;
}

#data {
    float: right;
    margin-top: -70px;
}

#data a {
    float: left;
    display: inline-block;
    text-decoration: none;
    padding: 0px 25px;
    margin: 0;
}

#data img {
    float: right;
    margin-left: -20px;
    margin-top: -20px;
}

#downline {
    border-top: 1px #000000 solid;
    width: 700px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -16px;
}

#address {
    float: left;
    margin-top: 10px;
    margin-left: 23px;
}

#phone_fax_email {
    float: right;
}
/*----------------------------------------------------*/
@media (max-width: 768px){
  body {
      margin: 0;
      background: #EDF2C5;
      width: 768px;
      /*版面寬度1260px*/
      margin: auto;
      /*版面居中對齊*/
      padding: 0px 160px 0;
      /*上下，左右 內距*/
  }

  #header {
      background: #7f6000;
      margin-top: -20px;
      margin-bottom: 40px;
  }


  #h_logo {
      width: 280px;
      font-family: Arial Black;
      /*字體*/
      float: left;

  }
  #h_logo h1 {
      float: left;
      font-size: 44px;
      height: 30px;
      /*大小*/

  }

  #h_logo img {
      float: right;
      height: 44px;
      margin-top: 35px;

  }

  #h_logo::after {
      clear: both;
      /*左邊跟右邊漂浮清掉*/
      content: "";
      /*讓中間全部變空白*/
      display: block;
      /*設成一整條*/
  }

#lab1{
  padding: 20px 20px;
}
  #lab1 li {
    display: none;
  }
  #big{
    display: none;
  }

  .search {
      display: inline-block;
      border: 1px #000000 solid;
      /*設定大小，顏色，外框*/
      border-radius: 3px;
      /*圓角*/
      font-family: Arial BoldMT;
      color: #9fc5f8;
      text-decoration: none;
      /*清除底線*/
      padding: 0px 70px 5px 2px;
      margin-left: 360px;

  }
  .hamburger-menu {
    background: none;
    border: none;
    display: inline-block;
  margin-top: 43px;
  }
  .hamburger-menu .icon-bar {
    background-color: #000000;
    display: block;
    height: 5px;
    margin: 0 auto 4px;
    width: 35px;
    margin-right:  -370px;
  }


  #content {
      background-image: url('image/house.jpg');
      height: 600px;
      margin-bottom: 50px;
  }

  #lab_btn {
      float: left;
      font-size: 26px;
      height: 30px;
      color: #f1c232;
      padding: 13px 23px;
  }

  #btn>a {
      display: inline-block;
      border: 1px #778A50 solid;
      /*設定大小，顏色，外框*/
      border-radius: 3px;
      /*圓角*/
      font-family: Arial BoldMT;
      text-decoration: none;
      /*清除底線*/
      margin: 5px;
      font-size: 14px;
      padding: 4px 10px;
      text-align: center;
  }

  #footer {
      background: #783f04;
      height: 200px;
      font-family: Arial;
      margin: auto;
  }

  #d_logo {
      width: 300px;
      font-family: Arial Black;

  }

  #d_logo h1 {
      float: left;
      font-size: 44px;
      height: 30px;
      margin-top: 5px;

  }

  #d_logo img {
      float: right;
      height: 44px;
      margin-top: 10px;
  }

  #d_logo::after {
      display: none;
  }

  #Hyperlinks_icon {
      width: 700px;
  }

  #data {
      float: right;
      margin-top: -40px;
  }

  #data a {
      float: left;
      display: inline-block;
      text-decoration: none;
      padding: 0px 25px;
      margin-top: 60px;
  }


  #data img {
      float: right;
      margin-left: -20px;
      margin-top: -70px;
  }

  #downline {
      border-top: 1px #000000 solid;
      width: 720px;
      margin: auto;
      margin-top: 40px;
      margin-right: 20px;

  }

  #address {
      float: left;
      margin-top: 10px;
      margin-left: 25px;
  }

  #phone_fax_email {
    margin-top: 9px;
    margin-right: 40px;
    float: right;
  }

}
/*--------------------------------------------------------*/
@media (max-width: 320px){

  body {
      margin: 0;
      background: #EDF2C5;
      width: 320px;
      /*版面寬度1260px*/
      margin: auto;
      /*版面居中對齊*/
      padding: 0px 160px 0;
      /*上下，左右 內距*/
  }

  #header {
      background: #7f6000;
      margin-top: -20px;
      margin-bottom: 40px;
  }


  #h_logo {
      width: 280px;
      font-family: Arial Black;
      /*字體*/
      float: left;
      margin-top:60px;
  }
  #h_logo h1 {
      float: left;
      font-size: 44px;
      height: 30px;
      /*大小*/
      margin-top: -30px;
  }

  #h_logo img {
      float: right;
      height: 44px;
      margin-top: -25px;

  }

  #h_logo::after {
      clear: both;
      /*左邊跟右邊漂浮清掉*/
      content: "";
      /*讓中間全部變空白*/
      display: block;
      /*設成一整條*/
  }

#lab1{
  padding: 20px 20px;
}
  #lab1 li {
    display: none;
  }
  #big{
    display: none;
  }

  .search {
      display: inline-block;
      border: 1px #000000 solid;
      /*設定大小，顏色，外框*/
      border-radius: 3px;
      /*圓角*/
      font-family: Arial BoldMT;
      color: #9fc5f8;
      text-decoration: none;
      /*清除底線*/
      padding: 0px 70px 5px 2px;
      margin-left: 165px;
      margin-top: -50px;
  }
  .hamburger-menu {
    background: none;
    border: none;
    display: inline-block;
  }
  .hamburger-menu .icon-bar {
    background-color: #000000;
    display: block;
    height: 5px;
    margin: 0 auto 4px;
    width: 35px;
    margin-left: -100px;
  }
  #content {
      background-image: url('image/house.jpg');
      height: 600px;
      margin-bottom: 50px;
  }

  #lab_btn {
      float: left;
      font-size: 26px;
      height: 30px;
      color: #f1c232;
      padding: 13px 23px;
      margin-top: 600px;
      margin-left: -40px;
  }


  #btn>a {
      display: inline-block;
      border: 1px #000000 solid;
      /*設定大小，顏色，外框*/
      border-radius: 3px;
      /*圓角*/
      font-family: Arial BoldMT;
      text-decoration: none;
      /*清除底線*/
      margin: 5px;
      font-size: 67px;
      padding: 4px 10px;
      background: #C0C0C0;
      text-align: center;

  }
  #enterdate{
    height: 48px;
  }
  #leavedate{
    height: 48px;
  }
  #footer {
      background: #783f04;
      height: 350px;
      font-family: Arial;
      margin: auto;
      margin-top: 500px;
  }

  #d_logo {
      width: 300px;
      font-family: Arial Black;

  }

  #d_logo h1 {
      float: left;
      font-size: 44px;
      height: 30px;
      margin-top: 5px;

  }

  #d_logo img {
      float: right;
      height: 44px;
      margin-top: 10px;
  }

  #d_logo::after {
      display: none;
  }

  #Hyperlinks_icon {
      width: 400px;
  }

  #data {
      float: right;
      margin-top: -30px;
      width:  200px;
      margin-right:  110px;
  }

  #Hyperlinks a {

      display: inline-block;
      text-decoration: none;
      padding: 0px 5px;
      margin-top: 60px;
  }


  #data img {
    margin-top: -30px;
    margin-left: 10px;

  }



  #downline {
      border-top: 1px #000000 solid;
      width: 300px;
      margin: auto;
      margin-top: 40px;
      margin-right: 16px;

  }

  #address {
      width: 400px;
      margin-top: -10px;
      margin-left: 5px;
  }

#phone_fax_email{
  height: 100px;
  margin-top: -2px;
  margin-left: 5px;
}
  #phone_fax {
    margin-top: -30px;
  }

}
}
